/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */

@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.thumbnail-container {
  @apply h-10 w-10;
}

.thumbnail-image {
  @apply h-full w-full rounded-full;
}

.message {
  @apply p-2 m-2 rounded-lg text-gray-800 flex;
}

.my-msg {
  @apply bg-blue-200 self-end;
}

.others-msg {
  @apply bg-white self-start;
}

.btn {
  @apply inline-block w-40 py-3 text-gray-800 rounded-md shadow-md text-center text-sm hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
}

#login-form input {
  @apply p-2 rounded;
}
